<div class="col-md-8 mt-4 text-center mx-auto">
    <table class="table table-sm">
        <thead>
            <tr>
                {{#each array.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each array}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>